*{
	color: green;
	text-align: center;
	margin: 0;
	padding: 0;
	cursor: url(../images/myCursor.png), auto;
}

body{
	background: black;
}

header{
	background-image: url(../images/warp.gif);
	margin-bottom: 1%;
	padding: 5px 10px;
	position: sticky;
	top: 0px;
}

nav{
	background: black;
	padding: 2px;
	margin: auto;
	width: 30%;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

li a{
	color: rgb(0, 255, 0);
	font-size: 14pt;
	font-weight: bolder;
	margin-right: 20px;
	text-decoration: none;
}

li a:hover{
	background: green;
	color: black;
}

li.last a{
	margin-right: 0;
}

@font-face{
	font-family: myFont;
	src: url(font.ttf);
}

h1{
	color: rgb(0, 255, 0);
	font-size: 250%;
	font-family: myFont, Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-style: italic;
}

span, section p{
	font-size: 20px;
}

h2, h3, h4{
	color: rgb(0, 255, 0);
	font-size: 30px;
	margin: 30px;
}

div.schools{
	display: flex;
	flex-direction: row;
}

div.schools div{
	background-image: url(../images/warp.gif);
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 30px;
	width: 100%;
	height: auto;
}

.schoolName{
	color: rgb(0, 255, 0);
}

p a:link{
	color: magenta;
}

p a:visited{
	color: purple;
}

img{
	max-width: 200px;
	max-height: 200px;
}